@font-face {
  font-family: "regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"); }

@font-face {
  font-family: "italic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/TitilliumWeb-Italic.ttf") format("truetype"); }
